* {
  /* border: solid 1px red; */

}

body {
  margin: 0px;
  font-size: 16px;
  font-family: "Noto Sans TC", "微軟正黑體", arial, sans-serif;
  color: #ffffff;
  align-items: center;
  background-color: #262626;
}

/* header */
header {
  display: flex;
  margin: 0 auto;
  /* max-width: 1200px; */
  height: 70px;
  background-color: #262626;
  align-items: center;
  border-bottom: 2px solid #656565;
}

header > .logo {
  flex: none;
  width: 110px;
  margin-left: 20px;
  margin-right: 35px;
  margin-bottom: 10px;
}

header > .logo img {
  width: auto;
  height: 60px;
}

header > .logo a {
  background-color: #262626;
}

header > .feature > .option img {
  width: auto;
  height: 30px;
}

header > .feature > .backtest img {
  width: auto;
  height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.feature {
  display: flex;
  width: 1500px;
  margin-right: 35px;
  align-items: center;
  background-color: #262626;
}
header > .feature input.search {
  width: 130px;
  height: 10px;
  margin-right: 30px;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-image: url(../imgs/search.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 95% center;
  background-color: #262626;
  color: #ffffff;
}

header > .feature > input.option {
  width: 110px;
  height: 30px;
  margin-right: 30px;
  padding-right: 32px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-image: url(../imgs/filter.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 90% center;
  background-color: #262626;
  color: #ffffff;
}

header > .feature > input.backtest {
  width: 110px;
  height: 30px;
  margin-right: 30px;
  padding-right: 32px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-image: url(../imgs/test.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 90% center;
  background-color: #262626;
  color: #ffffff;
}

header > .feature > input.option:hover {
  cursor: pointer;
}
header > .feature > input.backtest:hover {
  cursor: pointer;
}

header > .profile {
  display: flex;
  height: 25px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

header > .profile > .rank {
  white-space: nowrap;
  width: auto;
  min-width: 40px;
  max-width: 200px;
  margin-right: 5px;
  color: #ffffff;
  font-size: 1em;
}

header > .profile > a > .member {
  white-space: nowrap;
  width: auto;
  min-width: 40px;
  max-width: 200px;
  margin-right: 5px;
  color: #f4af1c;
  font-size: 1em;
}

header > .profile > .rankImg img {
  width: auto;
  height: 20px;
  margin-right: 20px;
}

header > .profile > .memberImg img {
  width: auto;
  height: 20px;
  margin-right: 8px;
  margin-left: 10px;
}
/* main */
main {
  background-color: #262626;
}

.main {
  margin: 5px auto;
  max-width: 935px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #262626;
}

.marquee {
  max-width: 935px;
  direction: left;
  height: 25;
  margin-right: auto;
}

.info {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 350px;
  height: 65px;
  margin-right: auto;
  margin-top: 20px;
  border-bottom: 1px solid #656565;
}

.name {
  flex: 1 1 100%;
  height: 30px;
  font-size: 1.2em;
}

.price {
  height: 25px;
  font-size: 1.6em;
  margin-right: 10px;
}

.change {
  font-size: 0.9em;
  height: 20px;
  padding-top: 12px;
}

.graph {
  display: flex;
  margin-bottom: 20px;
  margin-right: auto;
  height: 50px;
  max-width: 935px;
  width: 620px;
}

.graph > button {
  color: #656565;
  width: 120px;
  height: 28px;
  margin-top: auto;
  border-bottom: 1px solid #656565;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  font-size: small;
  /* text-align: start; */
}

.graphOption {
  display: flex;
  width: 935px;
  height: 40px;
  background-color: #262626;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
  position: relative;
}

.chart {
  color: #ffffff;
  width: 85px;
  height: 30px;
  border: 1px solid transparent;
  margin-right: 10px;
  font-size: 1em;
  padding-left: 3px;
  padding-top: 2px;
  background-color: #262626;
}
/* 
#chart, #candle, #line {
  font-size: 1em;
} */

.gun {
  margin-right: 7px;
}

#indicate {
  color: #ffffff;
  width: 70px;
  height: 30px;
  border: 1px solid transparent;
  margin-right: 25px;
  font-size: 1em;
  padding-top: 5px;
  background-color: #262626;
}

.indicate {
  display: none;
  flex-direction: column;
  background-color: #323232;
  opacity: 0.9;
  margin-top: 90px;
  margin-left: 120px;
  position: absolute;
  z-index: 100;
  width: 160px;
  height: 60px;
}

#volumes,
#ma {
  margin-top: 7px;
  margin-left: 10px;
  text-align: start;
  background-color: #323232;
  font-size: 0.9em;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-left: auto;
  padding-right: 5px;
}

.date input.startDay,
.date input.endDay {
  font-size: smaller;
  color: #ffffff;
  width: 125px;
  height: 10px;
  padding: 8px 10px;
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 0.9em;
  background-color: #262626;
}

.dash {
  font-size: medium;
  color: #ffffff;
  width: 15px;
  height: 15px;
  /* border: 1px solid red; */
  text-align:center;
  margin-right: 10px;
  padding-bottom: 15px;
}

.date input.endDay {
  margin-right: 20px;
  background-color: #262626;
}

.submit {
  background-color: #5b9bc3;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  border-radius: 8px;
  margin: 0px auto;
  width: 65px;
  height: 30px;
}

.submit:hover {
  /* background-color: #f15e5e; */
  background-color: #5b9bc3;
  transform:scale(1,1);
  transition:all 1s ease-out;
  transform:scale(1.2,1.2);
  border: 2px solid;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
input:hover {
  background-color: #262626;
  color: #ffffff;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url(../imgs/calendar.png);
  width: 17px;
  height: 17px;
  /* margin-right: 5px; */
}

/* 萬年曆 */
/* #date {
  color: #ffffff;
  width: 100px;
  height: 30px;
  border: 1px solid transparent;
  margin-right: 10px;
  font-size: 1em;
  position: relative;
}

.date {
  display: block;
  background-color: #323232;
  opacity: 0.9;
  margin-top: 15px;
  margin-left: -3px;
  position: absolute;
  z-index: 100;
  width: 550px;
  max-width: 1200px;
  height: 300px;
}

.dateSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.startDay,
.endDay {
  color: #ffffff;
  flex: 0 0 200px;
  height: 30px;
  padding-left: 15px;
  margin: 0px 20px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #323232;
}

.dash {
  max-width: 15px;
  max-height: 15px;
}

.submit {
  margin-top: 220px;
  margin-left: 400px;
}

.date input.submit {
  font-size: smaller;
  color: #ffffff;
  width: 100px;
  padding: 8px 10px;
  margin-right: 50px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: small;
} */


/* ------------------------------------------- */

.info_block {
  text-align: center;
}

/* ------------------------------- */
/* 座標文字 */
text {
  fill: #bbbbbb;
  font-size: 0.9em;
}

/* 內容文字 */
.value {
  fill: #bbbbbb;
  font-size: 0.8em;
}

.symbols {
  fill: #bbbbbb;
}

.value-section {
  fill: #bbbbbb;
}

text.symbol {
  fill: #bbbbbb;
}

path {
  fill: none;
  stroke-width: 1;
}

/* 十字線 */
path.candle {
  stroke: #ffffff;
}

path.candle.body {
  stroke-width: 0;
}

path.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
}

path.candle.up {
  fill: #ff0000;
  stroke: #ff0000;
}

path.candle.down {
  fill: #00aa00;
  stroke: #00aa00;
}

.close.annotation.up path {
  fill: #ff0000;
}

path.volume {
  fill: #ebebeb;
  opacity: 0.9;
}

path.volume.up {
  fill: #ffa9a9;
  opacity: 0.9;
}

path.volume.down {
  fill: #daffc9;
  opacity: 0.9;
}

.indicator-plot path.line {
  fill: none;
  stroke-width: 1;
}

.ma-0 path.line {
  stroke: #ee8379;
}

.ma-1 path.line {
  stroke: #64a0dd;
}

.ma-2 path.line {
  stroke: #49b8bb;
}

path.macd {
  stroke: #64a0dd;
}

path.signal {
  stroke: #ee8379;
}

path.zero {
  stroke: #bbbbbb;
  stroke-dasharray: 0;
  stroke-opacity: 0.5;
}

path.difference {
  fill: #bbbbbb;
  opacity: 0.5;
}

path.rsi {
  stroke: skyblue;
}

path.overbought,
path.oversold {
  stroke: #ff9999;
  stroke-dasharray: 5, 5;
}

path.middle,
path.zero {
  stroke: #bbbbbb;
  stroke-dasharray: 5, 5;
}

.analysis path,
.analysis circle {
  stroke: blue;
  stroke-width: 0.8;
}

.trendline circle {
  stroke-width: 0;
  display: none;
}

.mouseover .trendline path {
  stroke-width: 1.2;
}

.mouseover .trendline circle {
  stroke-width: 1;
  display: inline;
}

.dragging .trendline path,
.dragging .trendline circle {
  stroke: rgb(102, 139, 0);
}

.interaction path,
.interaction circle {
  pointer-events: all;
}

.interaction .body {
  cursor: move;
}

.trendlines .interaction .start,
.trendlines .interaction .end {
  cursor: nwse-resize;
}

.supstance path {
  stroke-dasharray: 2, 2;
}

.supstances .interaction path {
  pointer-events: all;
  cursor: ns-resize;
}

.mouseover .supstance path {
  stroke-width: 1.5;
}

.dragging .supstance path {
  stroke: skyblue;
}

.crosshair {
  cursor: crosshair;
}

.crosshair path.wire {
  stroke: #dddddd;
  stroke-dasharray: 1, 1;
}

/* 十字標籤底色 */
.crosshair .axisannotation path {
  fill: #656565;
  /* opacity: 0.8; */
}

.tradearrow path.tradearrow {
  stroke: none;
}

.tradearrow path.buy {
  fill: #00e1ff;
}

.tradearrow path.sell {
  fill: #00e1ff;
}

.tradearrow path.highlight {
  fill: none;
  stroke-width: 2;
}

.tradearrow path.highlight.buy {
  stroke: #0000ff;
}

.tradearrow path.highlight.sell {
  stroke: #9900ff;
}

svg {
background-color: #262626;
border-radius: 20px;
}


/* ----------------------------------------- */

.swal-overlay--show-modal .swal-modal {
  opacity: 1;
  pointer-events: auto;
  box-sizing: border-box;
  -webkit-animation: showSweetAlert .3s;
  animation: showSweetAlert .3s;
  will-change: transform;
  border: 1px solid #656565;
}

.swal-modal {
  width: 360px;
  background-color: #323232;
  border-radius: 13px;
}

.swal-text:first-child {
    margin-top: 40px;
    margin-bottom: 25px;
}

.swal-text {
  width: 240px;
  background-color: #323232;
  color: #ffffff;
  text-align: center;
}

.swal-button {
  width: 85px;
  padding: 4px 24px;
  max-width: 150px;
  margin-left: 10px;
}


/* --------------------------- */

.swal2-popup {
  font-size: 0.6rem;
  border: 2px solid #656565;
  border-radius: 20px;
}